body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 255, 34, 0.658);
}

.container {
    text-align: center;
}

.title {
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.background-image {
    background-image: url("/static/images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frame-for-title {
    text-align: center;
    background-color: aquamarine;
}